
body {
    background: white;
}

#c1 {
    position: absolute;
    top: 0;
    left: 600px;
    width: 300px;
    height: 250px;
    
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#v {
    position: absolute;
    top: 0;
    left: 0px;
    width: 300px;
    height: 250px;
    
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

